doctype html
html
  head
    title= title
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    meta(charset="utf-8")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDirRhB6oa2b1JCxwQL1Z8vdIUtvLuvP8c")
    script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places")
    script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(type="text/javascript" src="/javascripts/maps.js")
  body
    block content