html {
  height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

a {
  color: #00B7FF;
}

#container {
  width: 100%;
  height: 100%;
}

#map-canvas {
  height: 100%;
  width: 100%;
}

#pac-input {
  margin: 15px 0px 0px 15px;
  width: 250px;
}

.boxContainer {
  width: auto;
  height: auto;
  margin: 5px;
  padding: 5px;
}

.boxContainer form input {
  width: auto;
}

.boxContainer span.label {
  display: block;
}

.eventsWindow {
  overflow: scroll;
}